.new-incident-form{
	position: absolute;
    width: 50vw;
    text-align: center;
    font-family: sans-serif;
}

#map{
	width:50vw;
	height: 100vh;
	position: fixed;
	right:0;
}

.new-incident-form h1{
	font-size: 50px;
}

label{
	font-size: 18px;
	letter-spacing: 1px;
}

input:focus, textarea:focus, select:focus, button:focus{
	outline:none;
}

input[type='text']{
	width: 350px;
	padding: 10px;
	border-radius: 5px;
	border: 2px solid #e78777;

}

textarea{
	width: 350px;
	height: 150px;
	padding: 10px;
	margin-top: 15px; 
	border: 2px solid #e78777;
	border-radius: 5px;
}

input[type='text'], textarea{
	margin-bottom: 23px;
}

.file-btn{
	background: rgba(231, 135, 119, .5);
	border-radius: 50px;
	color: #333;
}

input{
	margin-top: 15px;
}

input[type='file']::-webkit-file-upload-button {
	color: #fff;
	background: rgba(231, 135, 119, .4);
	border:none;
	padding: 10px 40px;
	border-radius: 50px;
}

input[type='file']::-webkit-file-upload-button:hover{
	background: rgba(231, 135, 119, .6);
}

input[type='submit']{
	margin-top: 40px;
	background: rgba(231, 135, 119, 0);
	padding: 10px 40px;
	border-radius: 50px;
	border:2px solid rgb(231, 135, 119);
	font-size: 16px;
	font-weight: bold;
	color: rgb(231, 135, 119);
    transition: background .3s ease;
}

input[type='submit']:hover, input[type='submit']:active{
	color: #fff;
	background: rgb(231, 135, 119);
}
